* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px *8);
    height: calc(64px *8);
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #6c4117;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: #657dac;
}

.white {
    background-color: #ffe8d3;
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}