<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut dolorem facere hic inventore libero modi molestiae perspiciatis, praesentium quae quia repellat sint tenetur vel, voluptas voluptate! Blanditiis facilis numquam porro. Animi aperiam commodi culpa et ex harum maiores mollitia quia, quibusdam quos reprehenderit saepe. Modi perferendis reprehenderit repudiandae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut dolorem facere hic inventore libero modi molestiae perspiciatis, praesentium quae quia repellat sint tenetur vel, voluptas voluptate! Blanditiis facilis numquam porro. Animi aperiam commodi culpa et ex harum maiores mollitia quia, quibusdam quos reprehenderit saepe. Modi perferendis reprehenderit repudiandae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut dolorem facere hic inventore libero modi molestiae perspiciatis, praesentium quae quia repellat sint tenetur vel, voluptas voluptate! Blanditiis facilis numquam porro. Animi aperiam commodi culpa et ex harum maiores mollitia quia, quibusdam quos reprehenderit saepe. Modi perferendis reprehenderit repudiandae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut dolorem facere hic inventore libero modi molestiae perspiciatis, praesentium quae quia repellat sint tenetur vel, voluptas voluptate! Blanditiis facilis numquam porro. Animi aperiam commodi culpa et ex harum maiores mollitia quia, quibusdam quos reprehenderit saepe. Modi perferendis reprehenderit repudiandae.</p>
  </div>
</div>
